<!DOCTYPE html>
<html lang="<%= lingua.locales %>">
<head>
     <%- include("includes/head.ejs") %>
     <title><%= lingua.content.page3 %></title>
</head>
<body>
    login with discord <a href="/api/discord">here</a>
</body>
</html>